@import url('https://fonts.googleapis.com/css2?family=Jura&family=Outfit&display=swap');
@keyframes example {
    0%   {background-color:red}
    25%  {background-color:yellow}
    50%  {background-color:blue}
    75%  {background-color:green}
    100% {background-color:red}
  }
:root
{
    font-family: 'Jura', sans-serif;
    font-family: 'Outfit', sans-serif;
}
nav
{
    position: fixed;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.863);
}
ul
{
    display: flex;
    justify-content: start;
}
li
{
    list-style: none;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.719);
}
ul li:last-child
{
    flex-grow: 1;
    text-align: end;
    padding-right: 50px;
}
li:last-child a
{
    background-color: red;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 10px;
    
}
a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: black;

}

li:last-child a:hover
{
    color: black;
    animation-name: example;
    animation-duration: 6s;
}

.container
{
    display: flex;
    width: 100%;
    height: 100vh;
}
.column1
{
    width: 50%;
    height: 100%;

}
h1
{
    font-size: 6rem;
    font-weight: 400;
    color: red;
    transform: rotate(90deg);
}
.warp-club
{
    background-image: url(./assets/background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.column2 
{
    background-image: url(./assets/main.jpg);
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}